/* BASE */
body {
	margin: 0;
	font-size: 13px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* TABVIEW */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	color: #555;
}

@media (max-width: 640px) {
	.ui-tabs.ui-tabs-top > .ui-tabs-nav li {
		width: 100%;
	}
}

/* PANELGRID */
.ui-panelgrid.panelgrid-noborder .ui-grid-responsive {
	border: none;
}

@media (max-width: 640px) {
	.ui-panelgrid.panelgrid-noborder .ui-grid-responsive .ui-grid-row {
		border: none;
	}
}

#login-dialog{
	width: 290px;
	margin: auto;
	margin-top: 150px;
}

.grid-login{
	background-color: #1e94d2;
	color: #FFFFFF;
	border-radius: 8px;
	border: 1px solid #1e94d2;
	margin-top: 8px;
	padding: 10px;
}

.ui-selectonemenu-label{
	width:100% !important;
}
                
.ui-selectonemenu{
	width:100% !important;
}



.tamanho-minimo-pequeno {
	    min-width: 50px;
}

.tamanho-minimo-medio {
	    min-width: 100px;
}

.tamanho-minimo-grande {
	    min-width: 150px;
}
